<form>
  <div class="row mt-2">
    <div class="col col-xs-12">
    <label for="id">Server id:</label>
    <input type="number" name="id" id="id" class="form-control">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col col-xs-12">
      <label for="status">Server status:</label>
      <input type="text" name="status" id="status" class="form-control">
    </div>
  </div>

  <div class="row mt-2">
    <div class="col col-xs-12">
      <button class="btn btn-primary">Add server</button>
    </div>
  </div>
</form>
